#intro {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  .slides{
    &:first-child{
      background: none;
    }
  }
  .reveal {
    * {
      font-family: 'Special Elite', cursive !important;
    }
  }
  .skip {
    position: fixed;
    z-index: 30;
    right: 10px;
    top: 10px;
  }
  .btnSubite{
    padding: 15px 25px 0;
  }
}
