<div layout layout-sm="column">
  <md-input-container flex>
    <label>Nombre</label>
    <input ng-model="form.nombre">
  </md-input-container>
  <md-input-container flex>
    <label>Email</label>
    <input ng-model="form.email">
  </md-input-container>
</div>
<div layout layout-sm="column">
  <md-input-container flex>
    <label>Teléfono</label>
    <input ng-model="form.telefono">
  </md-input-container>
</div>
<div layout="column">
  <md-input-container flex>
    <label>¿Dónde?</label>
    <input ng-model="form.lugar" geocomplete>
  </md-input-container>
  <div id="lugar" class="map" location config="location">

  </div>
</div>
<div layout="column">
  <md-input-container>
   <label>¿Algo que quieras agregar?</label>
   <textarea ng-model="form.mensage"></textarea>
 </md-input-container>
</div>
<div ng-if="false" layout="row" id="lugarCont">
  <md-content id="lugar" flex location>
  </md-content>
</div>
<div layout="row" layout-align="end end">
  <md-button ng-click="enviar()" class="md-raised md-primary">Enviar</md-button>
</div>
