<div layout layout-sm="column" layout-align="center center">
  <md-select flex placeholder="¿Que taller?" ng-model="form.taller">
    <md-option value="tarot">Introduccion a Linux, es hora de progresar</md-option>
    <md-option value="improvisación">Aprende a programar, de la nada</md-option>
    <md-option value="improvisación">Sistemas distribuidos, de la nube al telefono</md-option>
  </md-select>
</div>
<div layout layout-sm="column">
  <md-input-container flex>
    <label>Tu nombre</label>
    <input ng-model="form.nombre">
  </md-input-container>
  <md-input-container flex>
    <label>Email</label>
    <input ng-model="form.email">
  </md-input-container>
</div>
<div layout layout-sm="column">
  <md-input-container flex>
    <label>Teléfono</label>
    <input ng-model="form.telefono">
  </md-input-container>
</div>
<div layout="column">
  <md-input-container>
    <label>Comentarios</label>
    <textarea ng-model="form.mensage"></textarea>
  </md-input-container>
</div>
<div class="lugar" layout="column">
  <md-input-container flex>
    <label>Lugar</label>
    <input ng-model="form.lugar" geocomplete>
  </md-input-container>
  <div id="lugar" class="map" location config="location"></div>
</div>
<div layout="row" layout-align="end end">
  <md-button ng-click="enviar()" class="md-raised md-primary">Enviar</md-button>
</div>
