<md-toolbar id="navbar">
  <div class="md-toolbar-tools">
    <div class="logo" layout="row" layout-align="center center">
    </div>
    <div flex layout="row" layout-align="center center">
      <h2><b>AR</b>rte <b>C</b>onectando <b>A</b>lmas</h2>
    </div>
    <div  layout="row"  class="menu" layout-align="start center">
      <md-tooltip>
        ¿Que? ¿Quienes?<br>¿Por qué?<br>¿Como?
      </md-tooltip>
      <md-button class="help md-raised md-fab md-mini" ui-sref="acerca_de" aria-label="Acerca de">
        ¿?
      </md-button>
    </div>
    <div layout="row" layout-align="center center">
      <md-tooltip>
        Se parte del Arca
      </md-tooltip>
      <md-button class="md-raised" ui-sref="subite" aria-label="¡Subite!">
        ¡Subite!
      </md-button>
    </div>
  </div>
</md-toolbar>
