<div layout layout-sm="column">
  <md-input-container flex>
    <label>Tu Nombre?</label>
    <input ng-model="form.nombre">
  </md-input-container>
  <md-input-container flex>
    <label>Tu Email?</label>
    <input ng-model="form.email">
  </md-input-container>
</div>
<div layout layout-sm="column">
  <md-input-container flex>
    <label>Tu Telefono?</label>
    <input ng-model="form.telefono">
  </md-input-container>
  <md-input-container flex>
    <label>En que fecha?</label>
    <input type="date" ng-model="form.email">
  </md-input-container>
</div>
<div layout="column">
  <md-input-container flex>
    <label>Donde?</label>
    <input ng-model="form.lugar">
  </md-input-container>
</div>
<div layout="column">
  <md-input-container>
   <label>Algo que quieras agregar?</label>
   <textarea ng-model="form.mensage" md-maxlength="150"></textarea>
 </md-input-container>
</div>
<div ng-if="false" layout="row" id="lugarCont">
  <md-content id="lugar" flex location>
  </md-content>
</div>
<div layout="row" layout-align="end end">
  <md-button ng-click="enviar()" class="md-raised md-primary">Enviar</md-button>
</div>
